body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#logo {
    display: block;
    width: 160px;
        padding-left: 400px;
}